.wrapper {
  padding: 0 1rem;
  margin: -1.75rem auto;
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.input {
  display: flex;
  gap: 0.5rem;
}

.input > input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  background: var(--gray-500);
  color: var(--gray-100);

  &:hover {
    cursor: pointer;
  }
}

.input > button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: 600;

  &:hover {
    background: var(--blue);
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
